@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/* @import url("https://db.onlinewebfonts.com/c/335787aa6f57d71cabe8eb5dc89c6d6b?family=Blender+Pro+Book"); */


@font-face { 
  font-family: "Blender Pro Book";
  font-style: normal;
  src: 
    url("/assets/fonts/BlenderPro/BlenderPro-Book.woff") format("woff2"),
    url("/assets/fonts/BlenderPro/BlenderPro-Book.ttf") format("truetype");
}
:root {
  --md-text-font: "Blender Pro Book"; 
}

@font-face { 
  font-family: "Blender Pro Medium";
  font-style: bold;
  src: 
    url("/assets/fonts/BlenderPro/BlenderPro-Medium.woff") format("woff2"),
    url("/assets/fonts/BlenderPro/BlenderPro-Medium.ttf") format("truetype");
}
:root {
  --md-text-font: "Blender Pro Medium"; 
}


body {
  background-color: #FAF6F0;
  padding:0px;
  font-family: "Blender Pro Book";
  font-size: 19.0px;
  /* font: 17.0px/1.5 Zilla Slab, Serif; */
  color:#2E2A27;
  font-weight:lighter;
  margin:0;
}

/* strong {
  font-family:'Blender Pro Medium';
  color:red;
} */